h1 {
    line-height: 1;
    text-align: center;
    font-size: 30px; 
    color: rgb(68, 7, 109);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 50px;
    margin: 10px;  
}

.enunciado {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin: 15px 10px;
    text-align: justify;
}

label {
    margin: 20px 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

input {
    margin: 20px 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: normal;
    width: 20%;
    box-sizing: content-box;
    display: block;
    padding: 5px;
    background: #ffffff;
    outline: non;
    border-style: dashed;
    border-color: #fa1b1b;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    margin: 10px 15px;
}

.enviar {
 width: 5%;
 border-radius: 10px;
 border-style: solid;
}

dialog {
    border-style: solid;
    border-radius: 10px;
    border-color: #fa1b1b;
}

#button {
    display: inline-block;
    padding: 3px;
    text-align: center;
    line-height: 1;
    border-radius: 15px;
    position: relative;
    width: 1.5em;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    border-color: #fa1b1b;
    background-color: none;
}

table{
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    border: none;
}

thead{
    background-color: #e68679;
}

tbody{
    background-color: rgb(231, 240, 155);
}

th {
    padding: 10px;
}

td {
    padding: 4px;
}