h1 {
    line-height: 1;
    text-align: center;
    font-size: 40px; 
    color: rgb(12, 109, 28);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 20px;
    margin: 10px;  
}

.enunciado {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin: 15px 10px;
    text-align: justify;
}
label {
    margin: 20px 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

input {
    margin: 20px 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: normal;
    width: 20%;
    box-sizing: content-box;
    display: block;
    padding: 5px;
    background: #ffffff;
    outline: non;
}

.enviar {
    width: 5%;
    border-radius: 10px;
    border-style: solid;
}

div {
    margin: 20px 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
}